* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  color: #ffffff;
  font-family: 'Rancho', sans-serif;
  font-weight: 400;
  margin: 0px;
}

h1{ font-size: 72pt; margin: 0px; }
h2{ font-size: 56pt; margin: 0px; }
h3{ font-size: 48pt; margin: 0px; }
h4{ font-size: 32pt; margin: 0px; }
h5{ font-size: 24pt; margin: 0px; }
h6{ font-size: 18pt; margin: 0px; }

.c10 { width: 10%; float:left; }
.c20 { width: 20%; float:left; }
.c30 { width: 30%; float:left; }
.c33 { width: 33.33%; float:left; }
.c50 { width: 50%; float:left; }
.c60 { width: 60%; float:left; }
.c66 { width: 66.66%; float:left; }
.c80 { width: 80%; float:left; }
.c100 { width: 100%; float:left; }

.right{
  float:right;
}

.flexcenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexright{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav{
  position: fixed;
  top: 0px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f5d534ee;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 10000;
}

.item{
  height: 32px;
  line-height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 4px;
  background-color: #13436e;
}

.hero{
  background-size: cover;
  background-color: #ffd600ee;
  background: linear-gradient(0deg, #ff9c14 0%, #f5d534 95%) center center;
  background-size: cover;

  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
}

.heroimage{
  width: 80vw;
  height: auto;
}

.btn{
  /* Positioning and sizing */
  display: block;
  width: 160px;

  /* Padding and margins */
  padding: 0px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: black;
  text-decoration: none;
  font-size: 24pt;

  /* Border styles */
  border: 3px solid black;
  border-radius: 8px;

  font-weight: 700;
  transition: 0.3s;
}

.btn.white{
  color: white;
  border-color: white;
}

.btn.inline{
  display: inline-block;
  margin: 6px;
}

.btn.wide{
  width: 200px;
}

.btn:hover{
  transform: scale(1.1);
}

.scene{
  color: #fff;
  /* Sizing */
  width: 100vw;
  height: 96vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  padding: 0px;
  position: relative;
  background-color: #34a8eb
}

.scenefill{
  width: 100vw;
  height: 0vh;
  background-color: #f5d534;
  position: relative;
  overflow: hidden;
}

.grass{
  position: absolute;
  width: 100vw;
  left: 0px;
  bottom: 0px;
  transform: translate(-2px, 5px);
  margin:  0px;
  padding: 0px;
}

.scenetext{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 15vh;
  left: 0px;
  font-weight: 700;
  font-size: 72pt;
}

.animal{
  position: absolute;
  width: 25%;
}

.animal-img{
  width: 100%;
  transition: 0.3s;
}

.animal-img:hover{
  width: 108%;
  transform: translate(-2.5%, 2.5%);
}

.cat{
  bottom: 24px;
  left: 5%;
}

.dog{
  bottom: 12px;
  left: 35%;
}

.pricing-box{
  width: 100vw;
  height: 100vh;
  background-color: #f5d534;
  font-size: 32pt;
  position: relative;
  overflow: hidden;
}

.price-title{
  display: flex;
  height: 25vh;
  width: 100%;
  float: left;
  font-size: 72pt;
  align-items: flex-end;
  justify-content: center;
}

.img-col{
  width: 50%;
  min-height: 75vh;
  float: left;
  position: relative;
}

.desc-col{
  width: 50%;
  min-height: 75vh;
  float: left;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.petimage{
  position: absolute;
  width: 40vw;
  left: 50%;
  margin-left: -20vw;
  top: 50%;
  margin-top: -20vw;
}

.shape{
  position: absolute;
  width: 50vw;
  left: 50%;
  margin-left: -25vw;
  top: 50%;
  margin-top: -25vw;
}

.pagename{
  float: left;
}

.info-box{
  width: 100vw;
  min-height: 100vh;
  background-color: #f5d534;
  font-size: 24pt;
  position: relative;
  overflow: hidden;
}

.info-title{
  display: flex;
  height: 20vh;
  width: 100%;
  float: left;
  font-size: 72pt;
  align-items: flex-end;
  justify-content: center;
}

.info-box h2{
  font-size: 36pt;
}

.info-col{
  width: 50%;
  min-height: 80vh;
  float: left;
  position: relative;
}

.info-inner{
  width: 100%;
  margin: 25px;
  text-align: center;
}

.info-col.left{
  width: 40%;
}

.info-col.right{
  width: 55%;
  margin-right: 5%;
}

.quote-button{
  display: block;
  min-width: 35vh;
  width: 75%;
  max-width: 50vh;
  border-radius: 12px;
  background-color: #13436e;
}

hr{
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
}

table, th, td {
  border-collapse: collapse;
  padding: 2px 8px 2px 8px;
}
th.t-left{
  background-color: #404040;
  text-align: right;
  padding-left: 24px;
}
td.t-left{
  background-color: #808080;
  text-align: right;
  padding-left: 24px;
}

th.t-right{
  background-color: #404040;
  text-align: left;
  padding-right: 24px;
}
td.t-right{
  background-color: #a0a0a0;
  text-align: left;
  padding-right: 24px;
}

img.map{
  min-width: 35vh;
  min-height: 35vh;
  width: 75%;
  height: auto;
  max-height: 50vh;
  max-width: 50vh;
  border-radius: 12px;
}

a{
  color: white;
}

footer{
  background-color: #eeeeee;
  color: #000000;
  font-size: 14pt;
  line-height: 18pt;
  padding: 12px;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@media only screen and (max-width: 750px) {
  .img-col{
    width: 100%;
    min-height: 25vh;
  }
  .desc-col{
    width: 100%;
    min-height: 50vh;
  }
  .itle{
    height: 16vh;
  }
  .scenetext{
    top: 15vh;
    font-size: 56pt;
  }
  .scene{
    height: 60vh;
  }
  .scenefill{
    height: 40vh;
  }
  .scenetext{
    font-size: 56pt;
  }
  .info-col.left, .info-col.right{
    width: 100%;
    min-height: 0px;
    padding: 0px;
  }
  .info-col.right{
    padding-bottom: 24px;
  }
  .info-title{
    font-size: 48pt;
  }
  img.map{
    min-width: 0px;
  }
  .info-inner{
    margin: 0px;
    padding: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .scene{
    height: 75vh;
  }
  .scenefill{
    height: 25vh;
  }
  .scenetext{
    font-size: 32pt;
  }
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.preload{
  transition: none !important;
}
